apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- github.com/flawmop/edge-svr/k8s?ref=1e871433fdcc7c97b8fdd8f03939c353ae0908f9

patches:
- path: ./patch-env.yml

images:
- name: edge-svr
  newName: ghcr.io/flawmop/edge-svr
  newTag: 1e871433fdcc7c97b8fdd8f03939c353ae0908f9

replicas:
- count: 1
  name: edge-svr
