apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- github.com/flawmop/submission-svc/k8s?ref=fae0362942f9183a9b7ca0ce7c6f9f7a2be21604

patches:
- path: ./patch-env.yml

configMapGenerator:
- behavior: merge
  files:
  - application.yml
  name: submission-config

images:
- name: submission-svc
  newName: ghcr.io/flawmop/submission-svc
  newTag: fae0362942f9183a9b7ca0ce7c6f9f7a2be21604

replicas:
- count: 1
  name: submission-svc
