---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: submission-svc
spec:
  template:
    spec:
      containers:
      - name: submission-svc
        env:
        - name: SPRING_RABBITMQ_PASSWORD
          valueFrom:
            secretKeyRef:
              name: rabbitmq-secret
              key: rabbitmqpassword
        - name: SPRING_RABBITMQ_USER
          valueFrom:
            secretKeyRef:
              name: rabbitmq-secret
              key: rabbitmquser
