apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- github.com/flawmop/welcome-svc/k8s?ref=fda151fee89fc5f8192a0bda7f190c8560ab65c9

patches:
- path: ./patch-env.yml

configMapGenerator:
- behavior: merge
  files:
  - application.yml
  name: welcome-config

images:
- name: welcome-svc
  newName: ghcr.io/flawmop/welcome-svc
  newTag: fda151fee89fc5f8192a0bda7f190c8560ab65c9

replicas:
- count: 1
  name: welcome-svc
